<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About us
        </h1>
        <p1>
            Arnab Majumdar's Internship Project
        </p1>

    </div>

    <div class="text ">
        <h1>
           Contact us
        </h1>
        <p1>
            Bank's contact here
        </p1>
    </div>
    <div class="text ">
        <h1>Note</h1>
        <p1>This is an Internship Project done for The Spark Foundation.</p>
    </div>

    <div class="text">

        <h1>OUR PROFILES</h1>
        <div >
            <a href="https://www.linkedin.com/in/arnab-majumdar-152200104/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/arnab.majumdar.583/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://github.com/arnabmajumdar5"><i class="fab fa-github-square"></i></a>
            <a href="https://www.instagram.com/_arnab.majumdar_/"><i class="fab fa-instagram-square"></i></a>
            <a href="https://twitter.com/Majumdar_Arnab"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>
